

@media screen and (max-width: 1280px) {
    .content-container {
        max-width: calc(100% - 130px);
    }
}


@media screen and (max-width: 1200px) {
    .content-container {
        max-width: calc(100% - 100px);
    }

    .container-header .container-logo-nav .nav-container {
        gap: 2em;
    }

    .container-header .container-logo-nav .nav-container .link-nav {
        gap: 1.5em;
    }
}


@media screen and (max-width: 1024px) {
    .content-container {
        max-width: calc(100% - 100px);
    }

    .hamburger-menu{
        display: inline-block;
    }

    .nav-container nav{
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .content-container {
        max-width: calc(100% - 80px);
    }

    html, body{
        font-size: 14px;
    }

    .container-header .link-header .d-none{
        display: none;
    }

    .container-header .link-header a:hover{
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .content-container {
        max-width: calc(100% - 50px);
    }

    html, body{
        font-size: 12px;
    }

    .container-header .container-logo-nav .logo-header h1 {
        font-size: 1.7em;
    }

    .container-header .container-logo-nav .nav-container .button-header img {
        width: 15px;
    }

    .container-header .container-logo-nav .nav-container .button-header .w-15 {
        width: 13px;
    }

    .container-header .container-logo-nav .nav-container .button-header .w-27 {
        width: 23px;
    }

    .hamburger-menu div span {
        width: 12px;
    }

    .hamburger-menu>span {
        font-size: 16px;
    }

    .hamburger-menu .m-5 {
        margin: 3.7px 0;
    }

    .container-header .container-logo-nav .content-container {
        padding: 0.7em 15px;
    }
    
}


@media screen and (max-width: 400px) {
    .content-container {
        max-width: calc(100% - 30px);
    }

    .container-header .container-logo-nav .nav-container .button-header {
        display: none;
    }
}





