
@media screen and (max-width: 1920px) and (min-width: 1660px) {
    html, body{        
        font-size: 20px;
    }
}


@media screen and (max-width: 1659px) and (min-width: 1400px) {
    html, body{        
        font-size: 17px;
    }
}


@media screen and (max-width: 1280px) {
    .container-categories {
        font-size: 12px;
    }

    main .section-news {
        font-size: 12px;
    }

    main .last-from-blog .container-sub-blog {
        font-size: 12px;
    }
}


@media screen and (max-width: 1024px) {

    html, body{
        font-size: 12px;
    }

    .hamburger-menu{
        display: inline-block;
    }

    .nav-container nav{
        display: none;
    }

    .container-categories {
        font-size: 9px;
    }

    main .fluid-container-service {
        font-size: 9px;
    }

    main .section-news {
        font-size: 9px;
    }

    main .last-from-blog .container-sub-blog {
        font-size: 9px;
    }

    main .special-offer .terms-offer {
        font-size: 11px;
    }

    .container-footer .payment-service .content-container {
        font-size: 11px;
    }

}


@media screen and (max-width: 800px) {
    .container-header .link-header .d-none{
        display: none;
    }

    .container-header .link-header a:hover{
        display: none;
    }

    .container-footer .footer-header .content-container .input-email {
        width: 14em;
        max-width: 14em;
        
    }
}


@media screen and (max-width: 600px) {
    html, body{
        font-size: 12px;
    }

    main .special-offer .terms-offer {
        font-size: 7px;
    }

    .container-header .container-logo-nav .logo-header h1 {
        font-size: 1.7em;
    }

    .container-categories .category-title div {
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width: 400px) {

    html, body{
        font-size: 11px;
    }

    .container-header .container-logo-nav .nav-container .button-header {
        display: none;
    }
}





