html, body{
    font-family: spartan;
    font-weight: 400;
    color: #121212;
    font-size: 16px;
}

.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
}

.content-container {
    max-width: calc(100% - 170px);
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1rem;
}

/* HEADER */
.container-header .contact-container {
    width: 100%;
    background-color: #121212;
}

.container-header .contact-container .content-container {
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
}

.container-header .link-header {
    display: flex;
    justify-content: space-between;
    gap: 1.625em;
}

.container-header .contact .link-header {
    gap: 3.125em;
}

.container-header .contact .link-header image{
    width: 10px;
}

.container-header .contact .link-header a{
    font-family: spartan;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 0.6875em;
    text-decoration: none;
    opacity: 0.8;
}

.container-header .contact .link-header .ml-10 {
    margin-left: 10px;
}

.container-header .social-network .link-header {
    gap: 0.75em;
}

.container-header .social-network .link-header img{
    width: 13px;
    opacity: 0.8;
}

.container-header .container-logo-nav{
    border-bottom: 2px solid #F8F8F8;
    font-size: 1rem;
}

.container-header .container-logo-nav .content-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 1.25em 15px;
}

.container-header .container-logo-nav .logo-header h1{
    font-family: Spartan-VariableFont;
    font-size: 2.25em;
}

.container-header .container-logo-nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    gap: 8.1875em;
}

.container-header .container-logo-nav .nav-container .link-nav{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.container-header .container-logo-nav .nav-container .link-nav a{
    font-family: spartan;
    font-weight: 500;
    font-size: 14px;
    color: #121212;
    text-decoration: none;
}

.container-header .container-logo-nav .nav-container .button-header{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    gap: 1.875em;
}

.container-header .container-logo-nav .nav-container .button-header img{
    width: 19px;
    height: 100%;
}

.container-header .container-logo-nav .nav-container .button-header .w-15{
    width: 15px;    
}

.container-header .container-logo-nav .nav-container .button-header .w-27{
    width: 27px;
}

/* MAIN */
/* Category */

main{
    margin-top: 32px;
    border-bottom: 2px solid #F8F8F8;    
}

.container-category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 30px; */
}

main .container-category .baner {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/Banner.png);
    width: 540px;
    height: 490px;
    max-width: 540px;
    max-height: 490px;    
    padding: 24px 32px;
    box-sizing: border-box;
}

main .container-category .baner .category-name{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

main .container-category .baner .category-name span{
    font-size: 12px;
    opacity: 0.4;
}

main .container-category .baner .category-name h2{
    font-size: 22px;
    margin-top: 15px;
}


.container-category .category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 540px;
    height: 490px;
    max-width: 540px;
    max-height: 490px;
}

.container-category .category a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 200px;
    max-width: 255px;
    max-height: 200px;
    text-decoration: none;
}

.container-category .category .category-women {    
    background-image: url(../images/women.png);    
}

.container-category .category .category-men {    
    background-image: url(../images/men.png);    
}

.container-category .category .accessories {
    background-image: url(../images/Accessories.png);
    width: 540px;
    height: 260px;
    max-width: 540px;
    max-height: 260px;
}

/* container-service */

main .container-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
}

main .container-service div{
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

main .container-service img{
    width: 30px;
}

main .container-service h3{
    font-size: 12px;
    margin-top: 8px;
}

main .container-service span{
    font-size: 12px;
}


/* hamburger */

.hamburger-menu{
    text-decoration: none;
    color: #121212;
    display: none;
}

.hamburger-menu>span{
    font-size: 20px;
    font-weight: 600;
}

.hamburger-menu div{
    display: inline-block;
}

.hamburger-menu div span{
    width: 15px;
    display: block;
    border: 1px solid #121212;
}

.hamburger-menu .m-5{    
    margin: 5px 0;
}

/* Category name */

.category-name {
    padding: 16px 24px;    
    color: #121212;
    font-size: 14px;
    background-color: #FFFFFF;
    border-radius: 4%;
    box-sizing: border-box;
}





  
