html, body{
    font-family: spartan;
    font-weight: 400;
    color: #121212;
    font-size: 16px;
}

.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
}

.content-container {
    max-width: calc(100% - 170px);
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1rem;
}

/* HEADER */
.container-header .contact-container {
    width: 100%;
    background-color: #121212;
}

.container-header .contact-container .content-container {
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
}

.container-header .link-header {
    display: flex;
    justify-content: space-between;
    gap: 1.625em;
}

.container-header .contact .link-header {
    gap: 3.125em;
}

.container-header .contact .link-header image{
    width: 10px;
}

.container-header .contact .link-header a{
    font-family: spartan;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 0.6875em;
    text-decoration: none;
    opacity: 0.8;
}

.container-header .contact .link-header .ml-10 {
    margin-left: 10px;
}

.container-header .social-network .link-header {
    gap: 0.75em;
}

.container-header .social-network .link-header img{
    width: 13px;
    opacity: 0.8;
}

.container-header .container-logo-nav{
    border-bottom: 2px solid #F8F8F8;
    font-size: 1rem;
}

.container-header .container-logo-nav .content-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 1.25em 15px;
}

.container-header .container-logo-nav .logo-header h1{
    font-family: Spartan-VariableFont;
    font-size: 2.25em;
}

.container-header .container-logo-nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    gap: 8.1875em;
}

.container-header .container-logo-nav .nav-container .link-nav{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.container-header .container-logo-nav .nav-container .link-nav a{
    font-family: spartan;
    font-weight: 500;
    font-size: 14px;
    color: #121212;
    text-decoration: none;
}

.container-header .container-logo-nav .nav-container .button-header{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    gap: 1.875em;
}

.container-header .container-logo-nav .nav-container .button-header img{
    width: 19px;
    height: 100%;
}

.container-header .container-logo-nav .nav-container .button-header .w-15{
    width: 15px;    
}

.container-header .container-logo-nav .nav-container .button-header .w-27{
    width: 27px;
}

/* MAIN */
/* Category */

main{
    margin-top: 2em;      
}

.container-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

main .container-categories .baner {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/category/Banner.png);
    background-size: cover;
    width: 540px;
    height: 490px;
    max-width: 540px;
    max-height: 490px;    
    padding: 24px 32px;
    box-sizing: border-box;
}

.container-categories .category-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 540px;
    height: 490px;
    max-width: 540px;
    max-height: 490px;
}

.container-categories .category-title a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 200px;
    max-width: 255px;
    max-height: 200px;
    text-decoration: none;
}

.container-categories .category-title .category-women {    
    background-image: url(../images/category/women.png);  
    background-size: cover;  
}

.container-categories .category-title .category-men {    
    background-image: url(../images/category/men.png);   
    background-size: cover; 
}

.container-categories .category-title .accessories {
    background-image: url(../images/category/Accessories.png);
    background-size: cover;
    width: 540px;
    height: 260px;
    max-width: 540px;
    max-height: 260px;
}

/* container-service */
main .fluid-container-service{
    border-bottom: 2px solid #F8F8F8;  
}

main .container-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25em;
    margin-top: 2.1875em;
    margin-bottom: 2.187em;
}

main .container-service div>div{
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

main .container-service img{
    width: 30px;
}

main .container-service h3{
    font-size: 0.75em;
    margin-top: 0.666em;
    margin-bottom: 0.666em;
}

main .container-service span{
    font-size: 0.75em;
}

/* category */
main .category{
    margin-top: 5.25em;
}

main .category header{
    display: flex;
    justify-content: space-between;
}

main .category h2 {
    font-size: 1.375em;
}

main .category nav{
    margin: 15px 0;
}

main .category nav ul {
    display: flex;
    justify-content: space-between;
    gap: 3.5625em;
    flex-wrap: wrap;
}

main .category nav ul li a {
    font-size: 0.75em;
    text-decoration: none;
    color: #121212;
}

main .category .category-womens-mens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.875em;
    margin-top: 2.25em;
}

main .category .sub-category {
    width: 255px;
    max-width: 255px;
    position: relative;
}

main .category .sub-category a {
   display: inline-block;
}

main .category .sub-category a img {
    width: 100%;
}

main .category .sub-category a span {
    position: absolute;
    background-color: #E91E63;
    font-size: 0.75em;
    font-weight: bold;
    color: #FFFFFF;
    padding: 1.0833em 1.0833em 0.75em 1.0833em;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

main .category .sub-category div h3 {
    font-size: 0.875em;
    margin-top: 1.142857em;
    margin-bottom: 0.8571em;
}

main .category .sub-category div>div {
   display: flex;
   justify-content: space-between;
   gap: 4px;
}

main .category .sub-category div .price span {
    font-size: 0.875em;
    font-weight: bold;
}

main .category .sub-category div .price .op-40 {
    font-size: 0.75em;
    opacity: 0.4;
    margin-left: 1.58333em;
    text-decoration: line-through;
}

main .category .sub-category div .rate img{
    width: 11px;
}

main .category .see-all {
    background-color: #F8F8F8;
    margin-top: 3em;
    text-align: center;
    padding: 1em 0;
}

main .category .see-all a {
    font-size: 0.8125em;
    text-decoration: none;
    text-transform: uppercase;
}

/* section-news */
main .section-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.875em;
    margin-top: 6em;
}

main .section-news div {
    width: 540px;
    height: 260px;
    max-width: 540px;
    max-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-news .new-season {
    background-image: url(../images/baner-new-season.png);
    background-size: cover;
}

main .section-news .sale {
    background-image: url(../images/baner-sale.png);
    background-size: cover;
}

main .section-news div span {
    display: block;
}
  
main .section-news div h2 {
    font-size: 1em;
    display: inline-block;
}

.color-red {
    color: #E91E63;
    margin-left: 5px;
    display: inline-block;
}

/*  special-offer  */
main .special-offer {
    width: 100%;
    height: 580px;
    max-height: 580px;
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F3F2F2;
}

main .special-offer img {
    position: absolute;
}

main .special-offer .women {
    left: 2.3125em;
    top: 2.25em;
}

main .special-offer .men {
    right: 6.375em;
    top: 2.8125em;
}

main .special-offer .terms-offer {
    text-align: center;
    width: 532px;
    height: 461px;
    max-width: 532px;
    max-height: 461px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

main .special-offer .terms-offer span {
    font-size: 0.75em;
    opacity: 0.4;
}

main .special-offer .terms-offer h2 {
    font-size: 1.625em;
    margin-top: 0.615238em;
}

main .special-offer .terms-offer div div h2{
    display: inline-block;
} 

main .special-offer .terms-offer .email {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* last-from-blog */
main .last-from-blog header {
    margin-top: 5.625em;
}

main .last-from-blog header {
    display: flex;
    justify-content: space-between;
}

main .last-from-blog header h2 {
    font-size: 1.375em;
    text-transform: capitalize;
}

main .last-from-blog header span {
    font-size: 0.75em;
    opacity: 0.4;
    text-transform: uppercase;
}

main .last-from-blog .container-sub-blog  {
    margin-top: 3em;   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25em;
}

main .last-from-blog .sub-blog .bacg-img {
    width: 350px;
    height: 276px;
    max-width: 350px;
    max-height: 276px;
    background-image: url(../images/LATEST-FROM-BLOG-baner-1.png);
    background-size: cover;
}

main .last-from-blog .sub-blog .bacg-img-1 {
    background-image: url(../images/LATEST-FROM-BLOG-baner-1.png);
}

main .last-from-blog .sub-blog .bacg-img-2 {
    background-image: url(../images/LATEST-FROM-BLOG-baner-2.png);
}

main .last-from-blog .sub-blog .bacg-img-3 {
    background-image: url(../images/LATEST-FROM-BLOG-baner-3.png);
}

main .last-from-blog .sub-blog .bacg-color {
    background-color: #FEFEFE;
    width: 350px;
    height: 118px;
    max-width: 350px;
    max-height: 118px;
}

main .last-from-blog .sub-blog .bacg-color div {
   position: relative;
    width: 302px;
    height: 174px;
    max-width: 302px;
    max-height: 174px;
    left: 0;
    bottom: 0;
    padding: 1.5em 1em 0.3125em 1em;
    box-sizing: border-box;
    background-color: #FFFFFF;
    top: -3.625em;
    margin: 0 auto;
}

main .last-from-blog .sub-blog .bacg-color div h3 {
    font-size: 0.875em;
    text-transform: uppercase;
}

main .last-from-blog .sub-blog .bacg-color div p {
    font-size: 0.875em;
    margin-top: 0.85714em;
    line-height: 1.6;
}
 
/*  FOOTER */

.container-footer {
    margin-top: 44px;
}

.container-footer .footer-header {
    background-color: #121212;
    padding: 15px 0;
    box-sizing: border-box;
}

.container-footer .footer-header .content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.container-footer .footer-header .content-container h2 {
    font-size: 12px;
    color: #FFFFFF;
}

.container-footer .footer-header .content-container .input-email {
    padding: 9px 270px 9px 16px;
    background-color: #707070;
    border: none;
    color: #FFFFFF;
}

.container-footer .footer-header .content-container .input-email::placeholder {
    font-size: 13;
    opacity: 0.4;
    color: #FFFFFF;
}


.container-footer .footer-header .content-container .submit {
    padding: 8px 24px 7px 24px;
    background-color: #121212;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-left: 12px;
}

.container-footer .footer-header .content-container .submit::placeholder {
    font-size: 19;
    opacity: 0.9;
    color: #FFFFFF;
}
 
.container-footer .footer-header .content-container .social-network {
   display: flex;
   justify-content: space-between;
   gap: 15px;
}

.container-footer .footer-header .content-container .social-network img {
    width: 15px;
}

  
  


/* hamburger */
.hamburger-menu{
    text-decoration: none;
    color: #121212;
    display: none;
}

.hamburger-menu>span{
    font-size: 1.25em;
    font-weight: 600;
}

.hamburger-menu div{
    display: inline-block;
}

.hamburger-menu div span{
    width: 15px;
    display: block;
    border: 1px solid #121212;
}

.hamburger-menu .m-5{    
    margin: 5px 0;
}

/* Category name */
.category-name {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 0.875em;
    padding: 1.142857em 1.7142857em;    
    color: #121212;    
    background-color: #FFFFFF;
    border-radius: 4%;
    box-sizing: border-box;
}

.category-name span{
    font-size: 0.875em;
    opacity: 0.4;
}

.category-name h2{
    font-size: 1.375em;
    margin-top: 0.681818em;
}

/* INPUT */
.input {
    width: 340px;
    height: 64px;
    max-width: 340px;
    max-height: 64px;
    border: none;
    background-color: #F8F8F8;
    padding: 0;
    text-align: center;
}

.input::placeholder {
    color: #121212;
    opacity: 0.4;
}

.submit {    
    background-color: #121212;
    cursor: pointer;
}

.submit::placeholder { 
    color: #FFFFFF;
    opacity: 0.9;
}


